extends ../layout

block content
    header
        h1.display-4= title

    main
        p!= content
        if errors
            ul.text-danger
                each error in errors
                    li= error.msg
        form(method="post" action="/hello2/add2")
            .mb-3
                label.form-label(for="name") NAME
                input#name.form-control(name="name" type="text" value=form.name)

            .mb-3
                label.form-label(for="email") EMAIL
                input#email.form-control(name="email" type="text" value=form.email)

            .mb-3
                label.form-label(for="age") AGE
                input#age.form-control(name="age" type="text" value=form.age)

            button.btn.btn-primary(type="submit") 作成