extends ../layout

block content
    header
        h1.display-4= title

    main
        p= content
        form(method="post" action="/hello2/edit")
            input(type="hidden" name="id" value=mydata.id)

            .mb-3
                label.form-label(for="name") NAME
                input#name.form-control(type="text" name="name" value=mydata.name)

            .mb-3
                label.form-label(for="email") EMAIL
                input#email.form-control(type="text" name="email" value=mydata.email)

            .mb-3
                label.form-label(for="age") AGE
                input#age.form-control(type="number" name="age" value=mydata.age)
            button.btn.btn-primary(type="submit") 更新