extends ../layout

block content
    header
        h1.display-4= title
    main
        table.table
            each item in content
                tr
                    th= item.id
                    td= item.name
                    td= item.email
                    td= item.age