extends ../layout.pug

block content
    header
        h1.display-4= title

    main
        form(method="post" action="/users/edit")
            input(type="hidden" name="id" value=user.id)
            .mb-3
                label.form-label(for="name") NAME
                input#name.form-control(type="text" name="name" value=user.name)
            .mb-3
                label.form-label(for="password") PASSWORD
                input#password.form-control(type="password" name="password")
            .mb-3
                label.form-label(for="email") EMAIL
                input#email.form-control(type="text" name="email" value=user.email)
            .mb-3
                label.form-label(for="age") AGE
                input#age.form-control(type="number" name="age" value=user.age)
            button.btn.btn-primary(type="submit") 更新
