extends ../layout.pug

block content
    header
        h1.display-4= title

    main
        table.table
            each user in content
                tr
                    th= user.id
                    td= user.name
                    td= user.email
                    td= user.age